@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
}

h1 {
  font-size: 2 em;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  margin: 0;
}

h3 {
  font-size: 1 em;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  background-color: #ffffff;
  inset: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderDisable 1.2s forwards;
}
.loader__bars {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loader__bars:before, .loader__bars:after, .loader__bars span {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: #000000;
  animation: grow 1s linear infinite;
}
.loader__bars:after {
  left: 15px;
  animation-delay: -0.66s;
}
.loader__bars span {
  left: 30px;
  animation-delay: -0.33s;
}
.loader p {
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-left: 30px;
}
@media screen and (min-width: 991px) {
  .loader p {
    font-size: 40px;
  }
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes loaderDisable {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
header {
  position: relative;
  margin-top: 20px;
}

.logo_ohmyfood {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.logo_ohmyfood img {
  width: 200px;
  object-fit: cover;
}
@media screen and (min-width: 991px) {
  .logo_ohmyfood img {
    width: 300px;
  }
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 5px;
  color: black;
  font-size: 1.6em;
}
@media screen and (min-width: 991px) {
  .fa-arrow-left {
    font-size: 2.2em;
  }
}

.block {
  background: #15DEA5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 5rem 2rem 5rem;
  font-size: 1rem;
  color: #000;
}
.block__heading {
  color: #9356DC;
  cursor: pointer;
}
.block__heading:hover {
  color: #FF79DA;
}

.container {
  background-color: rgb(245, 245, 245);
  margin-top: 70px;
  padding: 0 20px 70px 20px;
}

.footer {
  background-color: rgb(61, 61, 61);
  padding-bottom: 20px;
}
.footer__logo {
  width: 100px;
  height: 100%;
  padding: 20px 0 0 20px;
  overflow: hidden;
}
.footer__logo img {
  width: 100%;
  filter: invert(100%);
  object-fit: cover;
}
.footer__ul {
  list-style-type: none;
  padding: 10px 0 0 20px;
}
.footer__ul li {
  padding: 5px 0;
}
.footer__ul i {
  width: 10px;
  height: 15px;
  color: #fff;
  padding-right: 15px;
}
.footer__ul a {
  color: #fff;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(227, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
  height: 50px;
}

.fa-location-dot {
  width: 110%;
  padding-right: 10px;
}

.reserver {
  background-color: rgb(244, 244, 244);
  padding: 20px 20px;
  text-align: center;
}
.reserver h1, .reserver p {
  padding: 7px 0;
}
.reserver .btn-violet {
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  color: #FFF;
  font-size: 15px;
  padding: 15px 3px;
  border-radius: 30px;
  text-align: center;
  margin: 20px 40px 30px 40px;
}
.reserver .btn-violet hover {
  opacity: 0.8;
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement h1 {
  padding-bottom: 20px;
}
.fonctionnement .bloc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 900px) {
  .fonctionnement .bloc {
    flex-direction: row;
    gap: 25px;
    flex: 1;
  }
}
.fonctionnement .btn {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border: 1 solid #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
  .fonctionnement .btn {
    flex: 1 0 25%;
  }
}
.fonctionnement .btn:hover {
  background-color: #eae4f8;
}
.fonctionnement .btn:hover .fa-solid {
  color: #9356DC;
}
.fonctionnement .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
}
.fonctionnement .fa-solid {
  color: gray;
}

.bloc_restaurants {
  display: flex;
  flex-direction: column;
}
.bloc_restaurants h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.bloc_restaurants__cartes {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
@media (min-width: 600px) {
  .bloc_restaurants__cartes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) {
  .bloc_restaurants a {
    flex: 1 0 40%;
  }
}

.carte_restaurants {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.carte_restaurants__image {
  margin: 0;
  width: 100%;
  height: 200px;
  display: block;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.carte_restaurants__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .carte_restaurants__image {
    height: 150px;
  }
}
@media (min-width: 991px) {
  .carte_restaurants__image {
    height: 250px;
  }
}
.carte_restaurants__nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #217460;
  font-weight: 800;
  border-radius: 5px;
  padding: 10px;
  top: 15px;
  right: 15px;
}
.carte_restaurants__nouveau--invisible {
  display: none;
}
.carte_restaurants__title {
  padding: 20px 0 0 15px;
}
.carte_restaurants__position {
  padding: 7px 0 20px 15px;
}

/* --- animation coeur ---*/
.fa-heart {
  font-size: 150%;
}
@media screen and (min-width: 991px) {
  .fa-heart {
    font-size: 200%;
  }
}

.unliked, .liked {
  position: absolute;
  right: 40px;
  bottom: 35px;
}
@media screen and (min-width: 600px) and (max-width: 990px) {
  .unliked, .liked {
    right: 20px;
  }
}

.liked {
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.liked:hover {
  opacity: 1;
  transition: 0.3s;
}

/* --- Image plat du restaurant --- */
.image_restaurant {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.image_restaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Container de tous les memus (entrées plats desserts) --- */
.main {
  background-color: #f4f4f4;
  border-radius: 50px 50px 0 0;
  padding: 20px 20px 40px 20px;
  margin-top: -50px;
  contain: content;
}
.main__title {
  padding-top: 20px;
}
.main__title h1 {
  font-family: Shrikhand;
  font-size: 22px;
}
.main__coeur {
  position: relative;
  top: 30px;
  right: -20px;
}

/* --- Entrées, plats, desserts --- */
.container_bloc_cartes {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.bloc_carte {
  display: flex;
  flex-direction: column;
}
.bloc_carte h2 {
  padding: 30px 0 5px 0;
  font-weight: normal;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
.bloc_carte__bloc_btn {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 12px;
  padding-bottom: 8px;
}

/* --- card des entrés, plats, desserts --- */
.card {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  position: relative;
  overflow: hidden;
  animation: deroulante 800ms ease-in-out backwards;
}
.card__description {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__nom {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__info {
  font-size: 0.8em;
  overflow: hidden;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__price {
  width: 15%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  transition: transform 300ms ease-in;
}
.card__check {
  background-color: #99E2D0;
  width: 15%;
  height: 100%;
  position: absolute;
  right: -15%;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 300ms ease-in;
}
.card:hover .card__check {
  transform: translatex(-100%);
}
.card:hover .card__price {
  width: 40%;
  transition: 300ms ease-in-out;
  animation-fill-mode: both;
  justify-content: left;
  padding-left: 4%;
}
@media screen and (min-width: 600px) and (max-width: 990px) {
  .card:hover .card__price {
    width: 33%;
  }
}
@media screen and (min-width: 991px) {
  .card:hover .card__price {
    width: 28%;
  }
}
.card:hover .icon {
  animation: spin 500ms forwards 130ms;
}

/* --- check case verte --- */
.fa-check-circle {
  font-size: 100%;
}
@media screen and (min-width: 991px) {
  .fa-check-circle {
    font-size: 150%;
  }
}

.icon {
  width: auto;
  height: auto;
  background-color: #99E2D0;
  transition: all 400ms 1s;
}

/* --- animation déroulante (entrée, plat, dessert) ---*/
@keyframes deroulante {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay2 {
  animation-delay: 200ms;
}

.delay3 {
  animation-delay: 400ms;
}

/* --- Animation Check --- */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --- Boutton violet commander ---*/
.btn_violet {
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  color: #FFF;
  font-size: 15px;
  padding: 15px 3px;
  border-radius: 30px;
  text-align: center;
  margin: 20px 40px 30px 40px;
}
.btn_violet hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
