.loader{
    position: fixed;
    background-color: #ffffff;
    inset: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    @include flex-center;
    animation: loaderDisable 1.2s forwards;

    &__bars {
        width: 50px;
        height: 50px;
        @include flex-center;
        position: relative;

        &:before, &:after, span{
            content:'';
            display: block;
            position: absolute;
            left: 0px;
            top: 0;
            width: 10px;
            height: 30px;
            background-color: #000000;
            animation: grow 1s linear infinite;
        }
        &:after{
            left: 15px;
            animation-delay:-.66s;
        }

        & span{
            left: 30px;
            animation-delay: -.33s;
        }  
    }
    & p {
        font-size: 40px;
        color: rgb(0, 0, 0);
        margin-left: 30px;
    }
}


@keyframes grow {
    0% {
      transform: scaleY(0);
      opacity: 0; }
  
    50% {
      transform: scaleY(1);
      opacity: 1; }
  
    100% {
      transform: scaleY(0);
      opacity: 0; } }


@keyframes loaderDisable {
    0% {
        visibility: visible;
        opacity: 1;
    }

    80% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}