html {
    margin: auto;
    max-width: 1400px;
body {
    margin: 0;
    padding: 0;
}
}
h1 {
    font-size: 2 em;
    margin: 0;
}
h2 {
    font-size: 1.3em;
    margin: 0;
}
h3 {
    font-size: 1 em;
    margin: 0;
    font-weight: normal;
}
h4 {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
}
a {
    text-decoration: none;
    color: initial;
}

