

// header //

.position {
    @include flex-center;
    font-weight: bold;
    background-color: $color-light-gray2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
    height: 50px;
    }

.fa-location-dot {
    width: 110%;
    padding-right: 10px;
}

// Réserver le menu qui vous convient //

.reserver {
    background-color: rgb(244, 244, 244);
    padding: 20px 20px;
    text-align: center;
    h1, p {
        padding: 7px 0;
    }
    .btn-violet {
        @include btn-violet;
        width: 80%;
    }
}

// Fonctionnement //

.fonctionnement {
    padding: 20px;
    h1 {
        padding-bottom: 20px;
    }
    .bloc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: 900px){
            flex-direction: row;
            gap: 25px;
            flex: 1;
        }
    }
    .btn{
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: rgb(255, 255, 255);
        border: 1 solid #FFF;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        @media (min-width: 900px){
            flex: 1 0 25%;
        }
        &:hover {
            background-color: #eae4f8;
            .fa-solid {
                color: $color-primary;
            }
        }
    }
    .numero {
        @include flex-center;
        color: $white;
        font-size: 12px;
        background-color: $color-primary;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }
    .fa-solid {
        color: gray ;
    }
}

// Bloc des cartes restaurants //

.bloc_restaurants {
    display: flex;
    flex-direction: column;
    & h1 {
        padding-top: 50px;
        padding-bottom: 20px;
    }    
    &__cartes {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        @media (min-width: 600px){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    & a {
        @media (min-width: 600px){
            flex: 1 0 40%;
            }
        }
    }


//  Carte restaurant //

.carte_restaurants {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    &__image {
        margin: 0;
        @include img-ratio;
        @media (min-width: 600px){
            height: 150px;
        }
        @media (min-width: 991px){
            height: 250px;
        }
    }
    &__nouveau {
        @include btn-nouveau;
        &--invisible {
            display: none;
        }
    }
    &__title {
        padding: 20px 0 0 15px
    }
    &__position {
        padding: 7px 0 20px 15px;
    }    
}

/* --- animation coeur ---*/

.fa-heart {
    font-size: 150%;
    @include media-desktop {
        font-size: 200%;
    }
}
.unliked, .liked {
    position: absolute;
    right: 40px;
    bottom: 35px;
    @include media-tablette {
        right: 20px;
    }
}
.liked {
    background: -webkit-gradient(linear, right top, left bottom, from($color-primary), to($color-secondary));
    background-clip: text;
    -webkit-background-clip: text;    
    -webkit-text-fill-color: transparent;   
    opacity: 0;
    &:hover {
        opacity: 1;
        transition: 0.3s;
    }
}

















// au cas ou 

// .carte_restaurants {
//     border-radius: 20px;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     position: relative;
//     &__image {
//         margin: 0;
//         @include img-ratio;
//         @media (min-width: 600px){
//             height: 150px;
//         }
//         @media (min-width: 991px){
//             height: 250px;
//         }
//     }
//     &__nouveau {
//         @include btn-nouveau;
//         &--invisible {
//             display: none;
//         }
//     }
//     &__title {
//         padding: 20px 0 0 15px
//     }
//     &__position {
//         padding: 7px 0 20px 15px;
//     }
//     &__coeur {
//         position: absolute;
//         bottom: 40px;
//         right: 40px;
//         z-index: 1;
//         &:hover {
//             border-radius: 25px;
//             &::after {
//               border-radius: 25px;
//               opacity: 1;
//             }
//         }
//         &::after {
//         border-radius: 25px;
//         content: "";
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         background: linear-gradient(#9356DC 0%, #FF79DA 100%);
//         opacity: 0;
//         z-index: -1;
//         transition: opacity 250ms;
//         }        
//     }