
// header //

.position {
    @include flex-center;
    font-weight: bold;
    background-color: $color-light-gray2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
    height: 50px;
    }

.fa-location-dot {
    width: 110%;
    padding-right: 10px;
}

// Réserver le menu qui vous convient //

.reserver {
    background-color: $color-light-gray;
    padding: 25px 20px;
    text-align: center;
    h1, p {
        padding: 7px 0;
    }
    .btn-violet {
        @include btn-violet;
        margin-top: 25px;
    }
}

// Fonctionnement //

.fonctionnement {
    padding: 20px;
    h1 {
        padding-bottom: 20px;
    }
    .bloc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include media-desktop{
            flex-direction: row;
            gap: 25px;
            flex: 1;
        }
        @include media-tablette{
            align-items: center;
            gap: 25px;
            margin-top: 25px ;
        }
    }
    .btn{
        padding: 20px 0;
        display: flex;
        gap: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        &__title{
            font-weight: bold;
            font-size: 14px;
            @include media-desktop{
                font-size: 18px;
            }
            @include media-tablette{
                font-size: 18px;
            }     
        }

        @include media-desktop{
            flex: 1 0 25%;
        }

        @include media-tablette{
            width: 70%;
        }

        &:hover {
            background-color: lighten($color: $color-primary, $amount: 35%);
            .fa-solid {
                color: $color-primary;
            }
        }
    }

    .numero {
        @include flex-center;
        color: $white;
        font-size: 12px;
        background-color: $color-primary;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        @include media-desktop{
            width: 25px;
            height: 25px;
            font-size: 14px;
        }
        @include media-tablette{
            width: 25px;
            height: 25px;
            font-size: 14px;
        }
    }
    .fa-solid {
        color: gray ;
    }
}

// Bloc des cartes restaurants //

.container {
    background-color: rgb(245, 245, 245);
    margin-top: 50px;
    padding: 0 20px 70px 20px;
    @include media-desktop{
        padding: 0 40px 70px 40px;
    }
    @include media-tablette{
        padding: 0 30px 70px 30px;
    }
}

.bloc_restaurants {
    display: flex;
    flex-direction: column;
    & h1 {
        padding-top: 50px;
        padding-bottom: 20px;
    }    
    &__cartes {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;

        @include media-desktop{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;    
        }

        @include media-tablette{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }

        & a {
            @include media-desktop{
                flex: 1 0 40%;
            }
            @include media-tablette{
                flex: 1 0 40%;
            }
        }
    }
}

//  Carte restaurant //

.carte_restaurants {
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    position: relative;

    &__image {
        margin: 0;
        @include img-ratio;

        @include media-desktop{
            height: 300px;
        }

        @include media-tablette{
            height: 150px;
        }
    }

    &__nouveau {
        @include btn-nouveau;
    }

    &__title {
        padding: 20px 0 0 15px
    }

    &__position {
        padding: 7px 0 20px 15px;
    }    
}

/* --- animation coeur ---*/

.fa-heart {
    font-size: 150%;
    @include media-desktop {
        font-size: 200%;
    }
}
.unliked, .liked {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 35px;
    @include media-tablette {
        right: 20px;
    }
}
.liked {
    // background: -webkit-gradient(linear, right top, left bottom, from($color-primary), to($color-secondary));
    // background-clip: text;
    // -webkit-background-clip: text; 
    // -webkit-text-fill-color: transparent;   
    opacity: 0;

    background-clip: text transparent;
    background-color: $gradient-pink;
    
    // text-fill-color: transparent;


    &:hover {
        opacity: 1;
        transition: 0.3s ease-in-out;
        animation: animcoeur 1s;
    }
    
}

// @keyframes animcoeur{
//     0%{
//         -webkit-background-clip: text;    
//         -webkit-text-fill-color: transparent; 
//         background: -webkit-gradient(linear, right top, left bottom, from($color-primary), to($color-secondary));
//     }
//     100%{
//         -webkit-background-clip: text;    
//         -webkit-text-fill-color: transparent; 
//         background: -webkit-gradient(linear, right top, left bottom, from($color-primary), to($color-secondary));
//     }
// }
