// loader 

$mint: #15dea5;
$navy: #022f40;

@keyframes progress-bar {
	0% {
		transform: scaleX(0);
	}
	17% {
		transform: scaleX(0.18);
	}
	24% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	46% {
		transform: scaleX(0.81);
		animation-timing-function: cubic-bezier(0.25, 0.25, 1);
	}
	100% {
		transform: scaleX(1);
	}
}

$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$cat-delay: $prog-bar-dur + $prog-bar-delay * 2;

.load-container {
	margin: 300px auto;

	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;

	.progress {
		width: 50vw;
		height: 2vw;
		border: 2px solid $navy;
		padding: 0.25rem;
		margin-bottom: 30px;
		&__bar {
			height: 100%;
			background: $mint;
			height: 100%;
			transform-origin: left;
			transform: scaleX(0.5);
			animation: progress-bar $prog-bar-dur $prog-bar-delay both;
		}
	}
}


// header

.position {
    font-weight: bold;
    background-color: rgb(227, 226, 226);
    display: flex;
    justify-content: center;
    align-items: baseline;
    // border-top: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
    }

    .fa-location-dot {
        width: 110%;
        padding-right: 10px;
    }

.reserver {
    background-color: rgb(244, 244, 244);
    padding: 20px 20px;
    text-align: center;
    h1, p {
        padding: 7px 10px;
    }
    .btn-violet {
        @include btn-violet;
    }
}
.fonctionnement {
    padding: 20px;
    h1 {
        padding-bottom: 20px;
    }
    .bloc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: 900px){
            flex-direction: row;
            gap: 25px;
            flex: 1;
        }
    }
    .btn{
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: rgb(255, 255, 255);
        border: 1 solid #FFF;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        @media (min-width: 900px){
            flex: 1 0 25%;
        }
        &:hover {
            background-color: #eae4f8;
            .fa-solid {
                color: $color-primary;
            }
        }
    }
    .numero {
        @include flex-center;
        color: $white;
        font-size: 12px;
        background-color: $color-primary;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }
    .fa-solid {
        color: gray ;
        &:hover {
            color: $color-primary;
        }
    }
}
.bloc_restaurants {
    display: flex;
    flex-direction: column;
 
    & h1 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    &__cartes {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        @media (min-width: 600px){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    & a {
        @media (min-width: 600px){
            flex: 1 0 40%;
            }
        }
}
.carte_restaurants {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    &__image {
        margin: 0;
        @include img-ratio;
        @media (min-width: 600px){
            height: 150px;
        }
        @media (min-width: 991px){
            height: 250px;
        }
    }
    &__nouveau {
        @include btn-nouveau;
        &--invisible {
            display: none;
        }
    }
    &__title {
        padding: 20px 0 0 15px
    }
    &__position {
        padding: 7px 0 20px 15px;
    }
    &__coeur {
        position: absolute;
        bottom: 40px;
        right: 40px;
        &:hover {
            color: $color-primary;
        }
    }
    .fa-heart {
        font-size: 160%;
    }
}






