

/* --- Image plat du restaurant --- */

.image_restaurant {
    width: 100%;
    height: 300px;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* --- Container de tous les memus (entrées plats desserts) --- */

.main {
  background-color: $color-light-gray;
  border-radius: 50px 50px 0 0;
  padding: 20px 20px 40px 20px;
  margin-top: -50px;
  contain: content;
  &__title {
    padding-top: 20px;
    h1 {
      font-family: Shrikhand;
      font-size: 22px;
    }
  }
  &__coeur {
    position: relative;
    top: 30px;
    right: -20px;
  }
}


/* --- Entrées, plats, desserts --- */

.container_bloc_cartes {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.bloc_carte {
  display: flex;
  flex-direction: column;
  & h2 {
      padding: 30px 0 5px 0;
      font-weight: normal;
      @include border-green;
  }
  &__bloc_btn {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      gap: 12px;
      padding-bottom: 8px;
  }
}

/* --- card des entrés, plats, desserts --- */

.card {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  position: relative;
  overflow: hidden;
  animation: deroulante 800ms ease-in-out backwards;

  &__description {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    @include no-wrap;    
  }
  &__nom { 
    font-size: 16px;
    font-weight: bold;  
    padding: 4px 0;
    @include no-wrap;
  }
  &__info {
    font-size: .8em;
    overflow: hidden;
    padding: 4px 0;
    @include no-wrap;
  }
  &__price {
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    transition: transform 300ms ease-in;
  }
  &__check {
    background-color: $color-tertiary;
    width: 15%;
    height: 100%;
    position: absolute;
    right: -15%;
    font-size: 1.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 300ms ease-in;
  }
  &:hover &__check {
    transform: translatex(-100%);
  }
  &:hover &__price {
    width: 40%;
    transition: 300ms ease-in-out;
    animation-fill-mode: both;
    justify-content: left;
    padding-left: 4%;
    @include media-tablette {
      width: 33%;
    }
    @include media-desktop {
      width: 28%;
    }
    }
  &:hover .icon {
    animation: spin 500ms forwards 130ms;
  }
}

/* --- check case verte --- */

.fa-check-circle {
  font-size: 100%;
  @include media-desktop {
    font-size: 150%
  }
}
.icon {
  width: auto;
  height: auto;
  background-color: $color-tertiary;
  transition: all 400ms 1s;
}

/* --- animation déroulante (entrée, plat, dessert) ---*/

@keyframes deroulante {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay2 {
  animation-delay: 200ms;
}
.delay3 {
  animation-delay: 400ms;
}

/* --- Animation Check --- */

@keyframes spin {
  0% {
    transform: rotate(0deg);
    }
  100% {
    transform: rotate(360deg);
  }
}


/* --- Boutton violet commander ---*/

.btn_violet  {
    @include btn-violet;
    }




