

/* --- Image plat du restaurant --- */

.image_restaurant {
  width: 100%;
  height: 300px;
  overflow: hidden;
  & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

/* --- Container de tous les memus (entrées plats desserts) --- */

.main {
  background-color: $color-light-gray;
  border-radius: 50px 50px 0 0;
  padding: 20px 10px 40px 10px;
  margin-top: -50px;
  contain: content;
  @include media-tablette{
    padding: 40px;
  }

  &__banniere {
    padding: 15px ;
  }

  &__title {
  font-family: Shrikhand;
  font-size: 20px;
    @include media-desktop{
      font-size: 32px;
    }
    @include media-tablette{
      font-size: 29px;
    }
  }

  &__coeur {
    position: relative;
    top: 30px;
    right: -30px;
    @include media-desktop{
      margin-right: 30px;
    }
  }
}

/* --- Entrées, plats, desserts, --- */

.container-bloc-cartes {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  @include media-desktop{
    flex-direction: row;
    gap: 15px;
    margin-right: -7px;
    padding-top: 40px;
  } 
}

.bloc-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include media-desktop{
    flex: 1 0 25%;
  }

  &__title {
    padding: 30px 0 5px 0;
    font-weight: normal;
    @include border-green;
  }
}

/* --- card des entrés, plats, desserts --- */

.card {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  position: relative;
  overflow: hidden;
  animation: deroulante 800ms ease-in-out backwards;

  &__description {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9px;
    @include no-wrap;
    @include media-tablette{
      padding-left: 30px;
    }
  }

  &__nom { 
    font-size: 16px;
    font-weight: bold;  
    padding: 4px 0;
    @include no-wrap;
    @include media-tablette{
      font-size: 18px;
    }
  }

  &__info {
    font-size: .75em;
    overflow: hidden;
    padding: 4px 0;
    @include no-wrap;
    @include media-tablette{
      font-size: 0.9em;
    }
    @include media-desktop{
      font-size: 0.8em;
    }
  }

  &__price {
    width: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    transition: transform 300ms ease-in;
  }

  &__check {
    background-color: $color-tertiary;
    width: 15%;
    height: 100%;
    position: absolute;
    right: -15%;
    font-size: 1.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 300ms ease-in;
  }

  &:hover &__check {
    transform: translatex(-100%);
  }

  &:hover &__price {
    width: 37%;
    transition: 300ms ease-in-out;
    animation-fill-mode: both;
    justify-content: left;
    padding-left: 4%;
    @include media-tablette {
      width: 33%;
    }
    @include media-desktop {
      width: 38%;
    }
  }

  &:hover .icon {
    animation: spin 500ms forwards 130ms;
  }
}

/* --- check case verte --- */

.fa-check-circle {
  font-size: 100%;
}
.icon {
  width: auto;
  height: auto;
  background-color: $color-tertiary;
  transition: all 400ms 1s;
}

/* --- animation déroulante (entrée, plat, dessert) ---*/

@keyframes deroulante {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay2 {
  animation-delay: 200ms;
}
.delay3 {
  animation-delay: 400ms;
}
.delay4 {
  animation-delay: 600ms;
}

/* --- Animation Check --- */

@keyframes spin {
  0% {
    transform: rotate(0deg);
    }
  100% {
    transform: rotate(360deg);
  }
}


/* --- Boutton violet commander ---*/

.btn_violet  {
    @include btn-violet;
    }




