
$breakpoints: (
    mobile: 599px,
    tab-min: 600px,
    tab-max: 990px,
    desktop: 991px,
);

@mixin media-mobile{
	@media screen and (max-width: map-get($breakpoints, mobile)){
		@content;
	}
}
@mixin media-tablette{
	@media screen and (min-width: map-get($breakpoints, tab-min))
    and (max-width: map-get($breakpoints, tab-max)){
		@content;
	}
}
@mixin media-desktop{
	@media screen and (min-width: map-get($breakpoints, desktop)){
		@content;
	}
}

@mixin img-ratio {
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    & img {
        width: 100%;
        height: 100%;   
        object-fit: cover;
        }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin border-green {
    border-bottom: 3px solid $color-tertiary;
    width: 50px;
}
@mixin no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}