$white: #fff;
$black: #000;
$color-light-gray: #f4f4f4;
$color-light-gray2: rgb(227, 226, 226);

$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

$color-test: #15DEA5;



$padding-dimensions: 1rem 5rem 2rem 5rem;
$font-size: 7rem 1rem 4rem 2rem;


