$white: #fff;
$black: #000;
$color-light-gray: #f4f4f4;
$color-light-gray2: rgb(227, 226, 226);

$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

$gradient-pink : linear-gradient($color-primary 0%, $color-secondary 100%);
