header {
    position: relative;
    margin-top: 20px;
}
.logo_ohmyfood {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    img {
        width: 160px;
        object-fit: cover;
        }
}
.fa-arrow-left {
    position: absolute;
    left: 20px;
    top: 5px;
    color: black;
    &--no-display {
        display: none;
    }
}