header {
    position: relative;
    margin-top: 20px;
}
.logo_ohmyfood {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    img {
        width: 200px;
        object-fit: cover;
        @include media-desktop {
            width: 300px;
        }
        }
}
.fa-arrow-left {
    position: absolute;
    left: 20px;
    top: 5px;
    color: black;
    font-size: 1.6em;
    @include media-desktop {
        font-size: 2.2em;
    }
}