.logo_ohmyfood {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    img {
        width: 160px;
        object-fit: cover;
        }
}
.fleche {
    
}